/*


font-family: 'Assistant', sans-serif;

font-family: 'Roboto Slab', sans-serif;

font-family: 'Roboto', sans-serif;

font-family: 'Ubuntu', sans-serif;

 */

html,
body {
    background-color: #00444c;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    height: 100%;
    margin:  0;
    padding: 0;
}

.navbar,
.navbar.navbar-dark,
.navbar.bg-dark {
    height: 8vh;
    background-color: rgba(0, 31, 35, 0);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0);
    font-size: 1.5rem;
    transition: box-shadow 0.3s ease-in-out, background-color 0.5s ease-in-out, height 0.5s 0.5s ease-in-out;
}
.navbar-collapse {
    /* background-color: rgba(0, 31, 35, 0.86); */
    transition: height 0.4s ease-in-out, background-color 0.2s ease-out;
}
.navbar-collapse.show {
    background-color: rgba(0, 31, 35, 0.96);
}
.navbar-dark .navbar-brand {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
}
.navbar-dark .navbar-brand:hover {
    color: rgba(207,20,43, 1);
}
.navbar + header {
    padding-top: 180px;
}
.navbar.sticky {
    background-color: rgba(0, 31, 35, 0.96);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
    height: 5.6vh;
    font-size: 1.3rem;
}
@media (min-width: 768px) {
    .navbar + header {
        padding-top: 130px;
    }
    .navbar.sticky {
        height: 8vh;
        font-size: 1.5rem;
    }
}
.navbar .navbar-nav .nav-link {
    color: rgba(255, 255, 255,0.8);
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    padding: 1rem 1.5rem;
}
.navbar .navbar-nav .nav-link:hover {
    color: rgba(207,20,43, 1);
}

header,
section {
    /* background: #2E4347 url("working-hands.jpg") center; */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00444c+1,001f23+100 */
    background: #00444c; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #00444c 1%, #001f23 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #00444c 1%,#001f23 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #00444c 1%,#001f23 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00444c', endColorstr='#001f23',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-size: cover;
    background-blend-mode: overlay;
    height: 100vh;
    max-height: 100%;
}
section.free-height {
    padding-top: 5rem;
    min-height: 100%;
    max-height: unset;
    height: auto;
    background: #00444c; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #00444c 1%, #001f23 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #00444c 1%,#001f23 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #00444c 1%,#001f23 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00444c', endColorstr='#001f23',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-size: cover;
    background-blend-mode: overlay;
}

.container, .container-fluid {
    text-align: center;
}

.intro {
/*     width: 100%; */
}
.intro > .col-12 {
    padding-bottom: 2rem;
}
.intro:last-of-type {
    /* padding-bottom: 0; */
}

/* .more-btn {
    background: transparent;
    border:  1px solid rgba(255,255,255, 0.6);
    border-radius: 8rem;
    padding: 3rem 3.3rem;
}
.more-btn .oi {
    color: rgba(255,255,255, 0.6);
    font-size: 1rem;
} */


.next-section {
    /* position: relative; */
}

section + footer {
    background: rgba(255, 255, 255,0.8);
    color: #00444c;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
}
footer ul {
    list-style:  none;
    margin: 0;
}

h1 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 100;
}
span.lead {
    font-size: 1.2rem;
}
a {
    color: rgba(0,68,76, 1);
    transition: color 0.5s ease-in-out;
}
a:hover {
    color: rgba(0,68,76, 0.5);
    text-decoration: none;
}
a:visited {
    color: rgba(0,68,76, 0.8);
    text-decoration: none;
}
.precis {
    border-top: 1px solid rgba(255,255,255,0.05);
}
.intro h2 {
    font-family: 'Assistant', sans-serif;
    font-size: 2rem;
}
.intro p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
}
.intro hr {
    border-color: rgba(255,255,255, 0.05);
    margin: 1rem -15px 0;
}
.avatar {
    width: 15rem;
    max-width: 50%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 50%;
    /* box-shadow: 0 0 3rem 0.5rem rgba(0,0,0,0.2); */
    transition: opacity 0.5s ease-in-out;
    opacity: 0.4;
}
.avatar:hover {
    opacity: 0.8;
}
.tech-used {
    list-style: none;
    padding-left: 0;
    width: 100%;
}
.tech-used li {
    font-size: 3rem;
    padding: 2rem;
}
@media (min-width: 768px) {
    .tech-used li {
        font-size: 5rem;
    }
}
.projects h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
}
@media (min-width: 768px) {
    .projects h3 {
        font-size: 2rem;
    }
}
.projects h3 a {
    color: rgba(207,20,43, 1);
}

.projects .project-thumb {
    width: 25rem;
    max-width: 50%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 50%;
    /* box-shadow: 0 0 3rem 0.5rem rgba(0,0,0,0.2); */
    transition: all 0.5s ease-in-out;
    opacity: 0.4;
}
.projects .project-thumb:hover {
    width: 30rem;
    max-width: 100%;
    height: auto;
    border-radius: 0.4rem;
    box-shadow: 0 0 3rem 0.5rem rgba(0,0,0,0.2);
    opacity: 1;
}
.projects h3,
.projects p,
.projects li {
    text-align: left;
}
.projects ul {
    list-style: none;
    padding-left:  0;
}
.projects li {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-left:  0;
    display: flex;
    justify-content: start;
    padding: 0 0 1.5rem;
}
.projects li svg {
    min-width: 4rem;
    font-size: 3rem;
}
.projects li span {

}
h3 .beta {
    display: inline-flex;
    color: rgba(255,255,255,0.4);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    text-transform: uppercase;
    transform: rotate(-20deg);
    transition: all 0.4s ease-in-out;
}
h3:hover .beta {
    color: rgba(255,255,255,0.8);
    transform: rotate(5deg);
}
img[src*="logo"] {
    width:  100%;
    max-width: 60%;
    height: auto;
}
/* img[src*="logo"]:hover {
    opacity: 0.5;
} */
header img[src*="logo.svg"] {
    max-width: 60%;
}
header img[src*="logo.png"] {
    max-width: 45%;
}
footer img[src*="logo"] {

}
@media (min-width: 768px) {
    img[src*="logo.svg"] {
        max-width:  80%;
    }
    header img[src*="logo.png"] {
        max-width: 40%;
    }
}
.navbar-brand img {
    max-width: 5rem;
    height: auto;
}

.navbar-toggler {
    color: rgba(207,20,43, 1);
}
.navbar-toggler.collapsed {
    color: rgba(0,68,76, 1);
}
.navbar-toggler svg {
    transform: rotate(90deg);
    transition: all 0.4s ease-in-out;
}
.navbar-toggler.collapsed svg {
    transform: rotate(0deg);
}

.typed-cursor {
    font-size: 1.3rem;
}
blockquote {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
    text-align: justify-all;
}

blockquote .large {
    font-size: 5rem;
    font-weight: bold;
}
footer a:hover,
footer a:focus,
footer a:active {
    color: rgba(207,20,43, 1);
}
blockquote footer {
    font-size: 1.4rem;
}
.bounce {
    position: fixed;
    bottom: 3rem;
    animation: bounce 2s infinite;
}
.pulse {
    position: sticky;
    width: 4rem;
    height:  4rem;
    bottom: 3rem;
    background: transparent;
}
.pulse span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 4rem;
  height: 4rem;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
.pulse span::after {
    background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.pulse span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 4rem;
  height: 4rem;
  box-shadow: 0 0 0 0 rgba(255,255,255,.2);
  border-radius: 100%;
  opacity: 0;
  animation: pulse 3s infinite;
  box-sizing: border-box;
}
/* animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    },
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
    80% {
        transform: translateY(0);
    }
}
@keyframes pulse {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 0;
        box-shadow: 0 0 0 6rem rgb(255,255,255, 0.03);
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    .intro > .col-122 {
        padding-bottom: 3rem;
    }
    .intro h2 {
        font-size: 6rem;
        text-transform: lowercase;
    }
    .intro p {
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.6rem;
        font-weight: 200;
    }
    .projects p {
        font-size: 1.4rem;
    }
    .intro hr {
        margin: 3rem -15px 0;
    }
    img[src="logo.png"] {
        max-width: 25%;
    }
    span.lead {
        font-size: 3rem;
    }
    .typed-cursor {
        font-size: 2.7rem;
    }
    blockquote {
        font-size: 2.2rem;
    }
}
@media (min-width: 992px) {

    html,
    body {
        font-size: 12px;
    }

}
