/*


font-family: 'Assistant', sans-serif;

font-family: 'Roboto Slab', sans-serif;

font-family: 'Roboto', sans-serif;

font-family: 'Ubuntu', sans-serif;

 */

html,
body {
    background-color: #00444c;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 11px;
    height: 100%;
}

header,
#about {
    /* background: #2E4347 url("working-hands.jpg") center; */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00444c+1,001f23+100 */
    background: #00444c; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #00444c 1%, #001f23 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #00444c 1%,#001f23 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #00444c 1%,#001f23 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00444c', endColorstr='#001f23',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-size: cover;
    background-blend-mode: overlay;
    /* box-shadow: 0 0 15rem 10rem rgba(0,31,35, 0.4) inset; */
    height: 100vh;
}
.container, .container-fluid {
    text-align: center;
}

.intro > .col-12 {
    padding-bottom: 2rem;
}
.intro:last-of-type {
    padding-bottom: 0;
}
h1 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 100;
}
span.lead {
    font-size: 1.2rem;
}
.intro p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
}
.intro hr {
    border-color: rgba(255,255,255, 0.05);
    margin: 2rem -15px 0;
}

img[src="logo.png"] {
    max-width: 40%;
    height: auto;
}
.typed-cursor {
    font-size: 1.3rem;
}
blockquote {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: justify-all;
}
@media (min-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    .intro > .col-12 {
        padding-bottom: 3rem;
    }
    .intro hr {
        margin: 3rem -15px 0;
    }
    img[src="logo.png"] {
        max-width: 25%;
    }
    span.lead {
        font-size: 3rem;
    }
    .typed-cursor {
        font-size: 2.7rem;
    }
    blockquote {
        font-size: 3rem;
    }
}
@media (min-width: 992px) {

    html,
    body {
        font-size: 12px;
    }

}